In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv ("titanic.csv")

In [ ]:
data.head()

###### 1) Какое число женщин и мужчин ехало на корабле?

In [ ]:
data_sex = data["Sex"] != "male"

In [ ]:
data_sex.value_counts()

###### 2) Какой части пассажиров удалось выжить?

In [ ]:
total_pass_sur = data["Survived"].value_counts()

In [ ]:
survived_pass = 100.0 * total_pass_sur[1]/ total_pass_sur.sum()
print (round(survived_pass,2),"%")

###### 3) Какую долю пассажиры первого класса составляли среди всех пассажиров?

In [ ]:
total_pass_class = data["Pclass"].value_counts()

In [ ]:
first_class = 100.0 * total_pass_class[1]/ total_pass_class.sum()
print (round(first_class,2),"%")

###### 4)  Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров.
##### В качестве ответа приведите два числа через пробел.

In [ ]:
ages = data["Age"].dropna()
print (round (ages.mean(), 1), ages.median())

###### 5) Коррелируют ли число братьев/сестер с числом родителей/детей?
###### Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [ ]:
corr_sibsp_parch = data['SibSp'].corr(data['Parch'])

In [ ]:
print (round(corr_sibsp_parch,2))

###### 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name)
###### его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных.
###### Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать
###### несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [ ]:
name = data["Name"]

###### ищем и удаляем первое слово (фамилия)

In [ ]:
name.replace(r"^[^,]+,", "", inplace=True, regex=True)

###### ищем и удаляем Mr, Ms etc

In [ ]:
name.replace(r"((Miss\. |Mrs\. |Ms\. |Mr\. ))", "", inplace=True, regex=True)

##### ищем имя в скобках если они есть, если нет, то первое слово и есть имя

In [ ]:
names_re = "\(([^)]+)\)|(^.+?\w+)"

In [ ]:
names = name.str.extract(names_re, expand=None)

##### объединяем значения  и выводим самые используемые имена

In [ ]:
names = names[0].fillna(names1[0])

In [ ]:
names.columns = "FirstName"

In [ ]:
data_and_names = pd.concat((names, data), axis=1)

In [ ]:
the_top_names = data_and_names[data_and_names['Sex'] == 'female'][0]

In [ ]:
the_top_names.value_counts()